:root {
  --primary-color: #f58049;
}
body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  height: 100vh;
  background-image: url("assets/img/fondo11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 75%;
}

/* Mis trabajos */
.foto1 {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-info {
  background-color: var(--primary-color) !important;
}
.image-top {
  background-position: 25% 75%;
}

#Mis-trabajos .image-top1 {
  height: 400px;
  background-color: var(--primary-color) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
#Mis-trabajos .image-top2 {
  height: 400px;
  background-color: var(--primary-color) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 25%;
}
#Mis-trabajos .image-top3 {
  height: 400px;
  background-color: var(--primary-color) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 60%;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }
  .header {
    width: 50%;
    height: auto;
  }

  .navbar-brand {
    width: 100px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}
