:root {
  --primary-color: #f58049;
}
body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  height: 100vh;
  background-image: url("../img/fondo11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 75%;
}

/* Mis trabajos */
.foto1 {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}
